<div class="container-fluid p-3 bg-white">
    <div class="row align-items-center">
        <div class="col-xxl-2 col-lg-2 col-12 text-center">
            <h4 class="text-primary text-capitalize text-bold">
                logo the house
            </h4>
        </div>
        <div class="col-xxl-10 col-lg-10 col-12">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Lien</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Lien</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-disabled="true">Lien</a>
                </li>
            </ul>
        </div>
    </div>
</div>